* {
    box-sizing: border-box;
    margin: 0;
}

#container-dislay-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
}

#container-dislay-row > div {
    border: 1px solid blue;
}